notifications:
  email: false
sudo: enabled
os: linux
language: python
cache: pip
python: 3.8-dev
services:
  - docker

env:
  global:
  - GH_REPO=Drakkar-Software/OctoBot-Commons
  - REPO_NAME=OctoBot-Commons
  - DEPLOY_BRANCH=master
  - PACKAGE_FOLDER=octobot_commons
  - secure: GD63mHcIcR4CIHxwPrVAIg2p/ajWJ4RC8fU2+M8Jy/bDU9TYIPoF00P8LaBnGwVeMPoyqeSavijTrVo4FsEyY77w2pJnM+sfrr37qRQasb2ixkxKfEwLKStWDCoy2Jvxe8q+l5rzCuXn1Lh9IHEI4pA1J/IbRCCOlxh/lhUXnp2hn9+js3oRRWBrMw+30FAcKeKAmlNzrmQ8kCoX1B4Ge/TS1ulv42xoVBSI60uXXFfRgRQLYb4U1Q6lA6882xPhna1XE9L99Gs3NHn8MhbvjjkFo6rehbZbH4iD2UpENulyxdefOeHTHTetE+syJc/y5f+brZH8UttzKHghhuEX99CoFDVnWsb5LetK0ZpDU+dcgxUpG2WkZE9HnUrvBO5YDlY9eJ/Cd6w4nFxsSDETamqliamWBLTa7E5oXBFTfcZVPbJLY2Qipq+cCibwfeVOc0/y3dMWn25uaCOBrXvwXggaPH3JPTkCDaHovydh2spIAbXDZ4BdFEdbGozJplqD7Um4qhiVcVE48K09b6YsQtAAtmIceTlfw4wEzqISkPt7QhdK02f6QqLOs25nVT8sFGdAbO6BZ27T3QgOtbl2y3gThJktXxbpHzg5Pt5THx1h0JKe7X5sFcYFZReGrlTrqm184x0NTpTB+TRZrN/sa5UlfXyfcvoqMd7vLoTkjws=
  - secure: HnHWyz9Qy8UyGfcXAXj+u8HTws+MQ8O2yPDPC4F7EaA+ILOJtsNS37vZqB67qtZKcxMFAQPUE9d2sxTPiJnhKJWbWuwHnQfufllEaqgIM71FAIm+NrUWR6T7p9VvOJ5vAE+KCT+8zskuuamI1nEj+klfu6zxxrBpBc9Dvs6UIzxfSQ4lxh2n6ToXd7ZFGclRj59ssE7k1DMm2H7c6bbR1S25Bcpn8KM9P1uZECEAMy9P6T+8Vpy0SQ/JOkgDJBAGsL/Q4zmBDnjxdZii8CIi3Qp6fskHtC4SU2IyoilfwIOUDd5z9BGOy/y7+TF4MPbsoB1Yhsd/b3FHtaPhNhWCFgARX6AAIZHQZ7k2iXdBfDESgsJa8dwz5ww9chnFhGmwrDkw01E70P1+7JlUZ2GOQ4ijPhpiiYJQZfsZz5COBKpswldiMC3tR2n0NBVXPXgsmNfx0qiQnm2D/YLl6bB40+dzRqyR4NKOPi5BJXqsAXtyB8w0TVSKQtgHjQSl91EkpGWWl4GdqgfD7JjmHwcxs7EbYqdy6g7gubuaE/ixQBwJ1IkZH0va4JT/hCXbJQ10KjoztfYoLtltCI9nQm4Kl/ck6F5FexH4x2TRYBdCtC+l+gywFfYMLQkbDrKzLrDRXWmGTWmwE0IKW7nrxfbqXJzOhpaZijInhD+G1A1X9RM=

install:
  - python3 -m pip install --prefer-binary -r dev_requirements.txt -r requirements.txt

matrix:
  include:
  - name: "Linux - Python 3.8-dev - Python sources"
    stage: test
    os: linux
    python: 3.8-dev
    language: python
    script:
      - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
    after_success:
      - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

  - name: "Linux - Python 3.8-dev - Installed"
    stage: test
    os: linux
    python: 3.8-dev
    language: python
    script:
      - python3 setup.py install
      - rm -rf $PACKAGE_FOLDER
      - pytest tests

  - name: "OSX - Python 3.7-dev - Installed"
    stage: test
    os: osx
    osx_image: xcode11    # Python 3.7.2 running on macOS 10.14.3
    language: shell       # 'language: python' is an error on Travis CI macOS
    # python: 3.7         # 'python:' is ignored on Travis CI macOS
    before_install: python3 --version ; pip3 --version ; sw_vers
    before_cache:
      - rm -f "$HOME/Library/Caches/pip/log/debug.log"
    cache:
      directories:
        - "$HOME/Library/Caches/pip"
    script:
      - python3 setup.py build_ext --inplace
      - python3 setup.py install
      - rm -rf $PACKAGE_FOLDER
      - pytest tests

deploy:
  - provider: pypi
    user: __token__
    password:
      secure: mN1PMavqZ8+NXnxMbCiEYfFP07EMhX6BXXK4XtXtu21c1s3GW4C7ePQ/as0EUZRFyAzP6nRdFlAIYKrbmbC0WHn8Rr9WQEHK3gurpEYbLRERv3q9hfS36bN+2DmvqHcUG8/EOywf9Ut/hunc8ikvt3+DpR37+JGAzI1Ln3sFXWWYtyL8atkdiVsozsuzFFA/TDScD5ICwYqiNWhve1bnLfM5uooXF/ehwk339KYsiyaUJw8roAToAW7k8o4vxuz8G2DImoKl5rv4kLzI4svoH1S035dS0U0cx0oloE1rxP+nQTUisX02QuRknfojfwZ5xRqmTydi1wo80NBJS/HS7WXJSFFn6v9jZ1KvphJBkdNxQt/fCaWjU09h7Lu1CyWc5VQ0kNZ2ia5RifQz8IhUz/j0qd39tQEQGq3UE9NHV6m4jdYg7Weef6HNnGU5ys+YWWHVgO6G5qVO40Vvqif6pVSZcWK2/IAQS57Pnov0ZjoXEcTxzOvXTEJwmy51QQ9wHL0BjZy0HPcPQkuTWoLCvHYXYBPcBX/dJlRkTrauKKVs/cY4bVZNAkqHll7CH4TwYLRn2PD93+N7FjyUuz9Fp8eQs7zTizZ+plh2dHGhoULKX66Vnc3wRVQU8AR7e5ZZr45/4D2RlzYIkUCaUGTO7IjU34HF5vuwnrE7eV3aj2E=
    skip_existing: true
    skip_cleanup: true
    distributions: sdist
    on:
      repo: "$GH_REPO"
      branch: "$DEPLOY_BRANCH"
      tags: true
      condition: "$TRAVIS_OS_NAME = 'linux'"
  - provider: script
    script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
    skip_cleanup: true
    on:
      repo: "$GH_REPO"
      branch: "$DEPLOY_BRANCH"
      tags: true
      condition: "$TRAVIS_OS_NAME = 'linux'"
  - provider: script
    script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_64 "x86_64" "cp37-cp37m" "cp37"
    skip_cleanup: true
    on:
      repo: "$GH_REPO"
      branch: "$DEPLOY_BRANCH"
      tags: true
      condition: "$TRAVIS_OS_NAME = 'linux'"
  - provider: script
    script: python3 setup.py bdist_wheel && python3 -m twine upload dist/* -u $PYPI_USERNAME -p $PYPI_PASSWORD --skip-existing
    skip_cleanup: true
    on:
      repo: "$GH_REPO"
      branch: "$DEPLOY_BRANCH"
      tags: true
      condition: "$TRAVIS_OS_NAME = 'osx'"
